# Author: Victor Fang
# Website: https://VictorFang.com
# X: https://X.com/vicfcs
# LinkedIn: https://www.linkedin.com/in/drvictorfang

ZTAGENT_AUDIT_HMAC_KEY=replace-with-output-from-ztagent-secret
OPENAI_API_KEY=
# ANTHROPIC_API_KEY=
# KEYCLOAK_ADMIN_TOKEN=
